/* Import the Inter font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

/* Apply Inter font to specific elements */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div {
  font-family: 'Inter', sans-serif;
}

/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

/* Set base font size */
html {
  font-size: 14px;
}

/* Apply colors and background */
body {
  width: 100%;
  height: 100%;
  color: #fff;
  background: url(img/bg.png);
  overflow-x: hidden;
}

/* Add styles for links */
a {
  color: var(--color-dark); /* Define this variable or use a specific color */
}

/* Define font sizes for headings */
h1 {
  font-weight: 900;
  font-size: 2rem;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 0.87rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1.1rem;
}

/* Define styles for small text */
small {
  font-size: 0.75rem;
}

/* Define styles for profile photos */
.profile-photo {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  overflow: hidden;
}

/* Define styles for muted text */
.text-muted {
  color: var(--color-info-dark); /* Define this variable or use a specific color */
}

/* Define styles for paragraphs */
p {
  color: var(--color-dark-variant); /* Define this variable or use a specific color */
}

/* Define styles for bold text */
b {
  color: var(--color-dark); /* Define this variable or use a specific color */
}

/* Define styles for primary text */
.primary {
  color: var(--color-primary); /* Define this variable or use a specific color */
}

/* Define styles for danger text */
.danger {
  color: var(--color-danger); /* Define this variable or use a specific color */
}

/* Define styles for success text */
.success {
  color: var(--color-success); /* Define this variable or use a specific color */
}

/* Define styles for warning text */
.warning {
  color: var(--color-warning); /* Define this variable or use a specific color */
}

/* Styles for aside element */
aside {
  height: 100%;
  width: 30vh;
  background-color: rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(245, 245, 245, 0.404);
  position: fixed;
}

/* Styles for main element */
main {
  border-bottom: 1px solid rgba(245, 245, 245, 0.404);
  margin-left: 23rem;
  margin-right: 3.5rem;
  margin-top: 0.5rem;
  padding: 1rem;
}

/* General styles */
.container {
  display: grid;
  width: 100%;
  margin: 0 auto;
  gap: 1.8rem;
}

.top {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.2rem;
  margin-top: -0.1rem;
  border-bottom: 1px solid rgba(245, 245, 245, 0.404);
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.7rem;
  gap: 0.2rem;
}

.logo img {
  width: 4.5rem;
  height: 4.5rem;
}

.close {
  display: none;
}

/* Sidebar */
.sidebar {
  background: transparent;
  display: flex;
  flex-direction: column;
  height: 60vh;
  position: relative;
  top: 1.3rem;
}

.sidebar h2 {
  font-weight: 400;
}

.icon {
  font-size: 1.4rem;
  margin-left: 1rem;
}

.sidebar a {
  display: flex;
  color: #ffffff9e;
  margin: 0.1rem 1.5rem;
  gap: 1rem;
  align-items: center;
  position: relative;
  height: 3.5rem;
  transition: all 300ms ease;
  border-radius: 2rem;
}

.sidebar a.active,
.sidebar a:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
}

/* Social footer */
.footer_social {
  display: flex;
  font-size: 1.2rem;
  justify-content: center;
  align-items: center;
  margin: 1.4rem;
  border-top: 1px solid rgba(245, 245, 245, 0.404);
}

.footer_social a {
  padding: 0.8rem;
  border-radius: 50%;
  transition: all 0.3s ease-in;
  color: #fff;
  margin: 0.5rem;
  background-color: rgba(255, 255, 255, 0.3);
  width: 2.5rem; /* Adjusted size */
  height: 2.5rem; /* Adjusted size */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Social media icon size */
.footer_social .icons {
  font-size: 1.2rem; /* Adjusted size */
}

/* Additional hover effect */
.footer_social a:hover {
  background-color: rgba(255, 255, 255, 0.5); /* Lighter background on hover */
}

/* Main section */
.topitem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  gap: 20rem;
  background-color: transparent;
  margin-bottom: -0.5rem;
  margin-left: -2rem;
  margin-right: -1.7rem;
}

.topitem h1 {
  font-size: 2.3rem;
  font-weight: bold;
}

.buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.buyButton,
.walletButton {
  padding: 0.1rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
  height: 2.7rem;
  align-items: center;
}

.buyButton,
.walletButton {
  background-color: #333;
  color: white;
}

.buyButton span,
.walletButton span {
  margin-left: 0.5rem;
}

.icons {
  font-size: 1.3rem;
}

.icon4,
.icon5 {
  font-size: 1.3rem;
  margin-right: 0.1rem;
  color: #ffffff;
}

/* Big Section */
.bigSection {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Section 1 */
.section1 {
  background-color: rgba(255, 255, 255, 0.3);
  margin-left: 23rem;
  margin-right: 4rem;
  border-radius: 1rem;
  display: flex;
  justify-content: left;
  margin-top: 0.5rem;
  border: 1px solid rgba(245, 245, 245, 0.404);
}

.stakingIcon {
  margin-right: 1rem;
  justify-content: center;
  display: flex;
  margin: 1rem;
  padding: 0.8rem;
  margin-top: 1.1rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
}

.icon2 {
  font-size: 1.4rem;
}

.icon3 {
  font-size: 1.5rem;
}

.stakedAmount {
  display: flex;
  flex-direction: column;
  font-weight: 200;
  color: #ffffff9e;
  margin-top: 0.5rem;
}

.amountBox {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  height: 2.5rem;
}

.amountBox span {
  font-size: 1.3rem;
}

.header,
.content,
.row p {
  display: flex;
  align-items: center;
}

/* Section 2 */
.section22 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.section2 {
  background-color: rgba(255, 255, 255, 0.3);
  margin-left: 23rem;
  border-radius: 1rem;
  height: 32rem;
  width: 44rem;
  display: flex;
  flex-direction: column;
  justify-content: left;
  border: 1px solid rgba(245, 245, 245, 0.404);
}

.header {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

.stakedAmount2 {
  display: flex;
  flex-direction: column;
}

.content2 {
  /* margin-top: 14rem; */
  /* width: 100%; */
}

.amountBoxContainer {
  display: flex;
  justify-content: center;
  margin: 1.3rem;
}

.amountBox1 {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 0 0.5rem;
  height: 6rem;
  gap: 0.4rem;
}

.amountBox1 p {
  font-size: 1.1rem;
}

.amountBox1 span {
  background-color: rgba(255, 255, 255, 0.3);
  width: 4.5rem;
  height: 1.6rem;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 0.5rem;
}

.buttonContainer {
  margin-top: 7rem;
  display: flex;
  margin: 2rem;
  justify-content: center;
  border-bottom: 1px solid rgba(245, 245, 245, 0.404);
}

.stakeButton,
.unstakeButton {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1.2rem;
}

.stakeButton,
.unstakeButton {
  background-color: transparent;
  color: #ffffff9e;
}

.stakeButton:active,
.unstakeButton:active {
  color: #fff;
  text-decoration: underline;
}

.placeholderContainer {
  margin: 1.5rem;
  display: flex;
  align-items: center;
}

.placeholder {
  padding: 1rem;
  border: 1px solid rgba(245, 245, 245, 0.404);
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
  border-radius: 3rem;
  margin-right: -4.5rem;
  margin-top: 1rem;
}

.maxButton {
  padding: 0.6rem;
  width: 4rem;
  border-radius: 2rem;
  background-color: #333;
  color: #ffffffdc;
  font-weight: bold;
  margin-top: 1rem;
}

.stakeUnstakeButton {
  padding: 0.3rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: #333;
  color: #ffffffdc;
  font-size: 1.1rem;
  font-weight: bold;
  width: 41rem;
  margin-left: 1.6rem;
  height: 3.5rem;
  border-radius: 2rem;
}

/* Section 3 */
.section3 {
  background-color: rgba(255, 255, 255, 0.3);
  margin-right: 4rem;
  height: 32rem;
  width: 27rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: left;
  border: 1px solid rgba(245, 245, 245, 0.404);
}

.balanceSection,
.balanceSectionB,
.balanceSectionC {
  padding: 2rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.balanceSection .headerA,
.balanceSectionB .headerA,
.balanceSectionC .headerA {
  margin-bottom: 1rem;
}

.balanceSection .contentA,
.balanceSectionB .contentA,
.balanceSectionC .contentA {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(245, 245, 245, 0.404);
}

.balanceSection .row,
.balanceSectionB .row,
.balanceSectionC .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
}

.balanceSection .row:last-child,
.balanceSectionB .row:last-child,
.balanceSectionC .row:last-child {
  border-bottom: none;
}

.balanceSection .row p,
.balanceSectionB .row p,
.balanceSectionC .row p {
  font-weight: bold;
  color: #ffffff9e;
  font-size: 1.1rem;
}

.balanceSection .row span,
.balanceSectionB .row span,
.balanceSectionC .row span {
  background-color: rgba(255, 255, 255, 0.3);
  width: 6.5rem;
  height: 1.7rem;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 0.5rem;
}

.balanceSection .amountBox,
.balanceSectionB .amountBox {
  width: 6rem;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  /* Adjustments for smaller screens */
  main {
    margin-left: 0;
    margin-right: 0;
  }
  
  .container {
    grid-template-columns: 1fr;
  }

  .topitem {
    flex-direction: column;
    text-align: center;
  }

  .buttons {
    flex-direction: column;
  }

  .buyButton,
  .walletButton {
    width: 100%;
  }

  .topitem h1 {
    font-size: 1.8rem;
  }
  
  .footer_social {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

